.info-tooltip__text{
font-family: 'Roboto', Arial, sans-serif;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 28px;
color: #000000;
margin-top: 9px;
margin-bottom: 0;
}

.info-tooltip__link {
font-family: 'Inter', Arial, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
color: #2F71E5;
margin-top: 14px;
margin-bottom: 23px;
text-decoration: none;
cursor: pointer;
transition: color 0.6s ease;
}

.info-tooltip__link:hover {
  color: #347eff;
}

.info-tooltip__link:active {
  color: #2a65cc;
}