.page {
  background-color: #ffffff;
  color: #1a1b22;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 1440px;
  margin: auto auto;
}

.section {
  max-width: 1440px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .section {
    max-width: 768px;
  }
}

@media screen and (max-width: 375) {
  .section {
    max-width: 320px;
  }
}
