.popup__action-text {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.popup__link {
  text-decoration: none;
  cursor: pointer;
  color: #2f71e5;
  transition: color 0.6s ease;
}

.popup__link:hover {
  color: #347eff;
}

.popup__link:active {
  color: #2a65cc;
}

.popup__error {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  width: 100%;
  text-align: center;
  display: block;
  position: absolute;
  margin-top: calc(100% - 63px);
}

.popup__error_opened {
  display: block;
  position: absolute;
  margin-top: calc(100% - 153px);
}

@media screen and (max-width: 430px) {
  .popup__error {
    margin-top: 290px;
  }
  
  .popup__action-text {
    text-align: center;
  }
}
