.header {
  /* border-bottom: 1px solid rgb(26, 27, 34, 1);*/
  display: flex;
  align-items: center;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0 104px;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  background: rgba(196, 196, 196, 0.01);
  z-index: 1;
}

.header_saved-news {
  box-shadow: inset 0px -1px 0px #d1d2d6;
}

.header__logo {
  font-family: 'Roboto Slab', Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 26px;
}

.header__logo_saved-news {
  color: #1a1b22;
}

.header__container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .header {
    min-height: 66px;
    padding: 0 40px;
  }
}
