.footer {
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 104px;
}

.footer__copyright {
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
  margin-top: 0;
  margin-bottom: 0;
}

.footer__menu {
  display: flex;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
}

.footer__list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0 24px 0;
}

.footer__list:last-child {
  margin-right: 0;
}

.footer__item {
  margin-right: 24px;
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__link {
  font-family: 'Roboto', 'Inter', 'Arial', sans-serif;
  display: flex;
  color: #1a1b22;
  font-size: 18px;
}
