.news-cards {
  background: #f5f6f7;
  max-width: 1440px;
}

.news-cards__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-template-rows: repeat(auto-fill, 576px);
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  justify-content: center;
  padding-left: 0;
  margin: 62px auto 0;
}

.news-cards__title {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 80px;
  padding-left: 104px;
  font-family: "Roboto Slab", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1a1b22;
}

.news-cards__btn-position {
  display: flex;
  justify-content: center;
  padding-top: 56px;
  padding-bottom: 80px;
}
