@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');


body {
  margin: 0;
}

.page {
  max-width: 1440px;
  min-width: calc(320px - 32px);
  margin: 0 auto;
  color: #1A1B22;
  /*background-color: #347EFF;*/
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}


.section {
  max-width: 1440px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
}


@media screen and (max-width: calc(1440px + 208px)) {
  .page {
    margin: 0 104px;
  }
}

@media screen and (max-width: 960px) {
  .page {
    margin: 0 40px;
  }
}

@media screen and (max-width: 500px) {
  .page {
    margin: 0 16px;
  }
}
